@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Poppins', sans-serif;
}
@media (min-width: 640px) {
    .sm\:hidden {
        display: none !important;
    }
}
.loader {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: 
      radial-gradient(farthest-side,#2563eb 94%,#0000) top/8px 8px no-repeat,
      conic-gradient(#0000 30%,#2563eb);
    -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
    animation:s3 1s infinite linear;
}
@keyframes s3{ 
    100%{transform: rotate(1turn)}
}

.modal-enter-active,
.modal-leave-active {
  transition: all 150ms ease;
}

.modal-enter-from,
.modal-leave-to {
  opacity: 0;
  transform: scale(1.10);
}

.modal-enter-active .modal-box,
.modal-leave-active .modal-box {
  transition: all 150ms ease-in-out;
}